.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
}

a {
  color: black;
  padding: 20px;
  text-decoration: none;
}
