.join-container {
  max-width: 20%;
  padding-top: 5%;
  padding-left: 5%;
}

.join-text {
  font-size: 55px;
  font-weight: bold;
}

.summary-container {
  max-width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.join-btn {
  background-color: darksalmon;
  min-width: 35%;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 54px;
  font-size: 15px;
  letter-spacing: 1px;
}
